<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>polls detail</title>
    <link rel="stylesheet" href="https://xinetzone.github.io/w3css/4/w3.css">
</head>

<body class="w3-pale-yellow">
    <article class="w3-padding">
        <h1>{{ question.question_text }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="Vote" aria-label="Vote">
        </form>
    </article>
   
</body>

</html>